<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
  <p>
    <label for="team_name">Team Name: </label>
    <input type="text" id="team_name" name="team[name]">
  <br>
    <label for="team_motto">Team Motto: </label>
    <input type="text" id="team_motto" name="team[motto]">
  </p>
  <h2>Hero 1</h2>
  <p>
    <label for="member1_name">Hero's Name: </label>
    <input type="text" id="member1_name" name="team[member][][name]">
  </p>
  <input type="submit" id="submit" name="Submit">
</form>
